/* Colors:
Rich Black #0D1B2A, Oxford Blue #1B263B, Badazzle Blue #415A77, Shadow Blue #778DA9, Platinum #E0E1DD */


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color:#E0E1DD;

}
li, a{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
}

header{
    display: flex;
    justify-content: flex-end;
    align-items: center ;
    padding: 15px 5%;
    color: #E0E1DD;
    background-color: #1B263B;

}
.links{
    list-style-type: none;
}

.links li{
    display: inline-block;
    padding: 0px 25px;
}

.links li a:hover{
    color:darkturquoise;
}

.logo{
    margin-right: auto;
}


 .welcome{
    font-family: 'Roboto Slab', serif;
    font-size: 72px;
    line-height: 65px;
    margin-bottom: 30px;
}
 .content{
    margin-bottom: 30px;
}

.photo{
    padding: 20px 2%;
}

 .heroimg{
    display: flexbox;
    justify-content: right;
    border-radius: 10px;
}

.grid{
    display: flex;
    padding-bottom: 100px;

}

.intro{
    display: flex;
    flex-direction: column;
    padding: 20px 5%;
}

.btn{
    background-color:#1B263B;
    color: #E0E1DD;
    padding: 15px;
    text-transform: capitalize;
    border-radius: 30px;
    border: none;
    width: 50%;
    margin: auto;
}

#contact{
    font-family: 'Roboto Slab', serif;
    font-size: 36px;
    margin-bottom: 30px;
    padding: 20px 5%;
}

.form{
    padding: 10px 5%;
}

.field{
    padding:10px;
    width: 50%;
    padding-bottom: 5px;
}

.leg{
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    font-weight: bold;
    color:#1B263B;
}

#bcontact{
    font-family: 'Roboto', sans-serif;
}


